@import 'helpers';
@import 'variables';
@import 'components';

.character-page {
    padding: 3%;
    color: $color-1;
    line-height: normal;
    @media only screen and (min-width: 992px) and (max-width: 1440px) { font-size: 0.72em; }
    @include media-breakpoint-down(sm) { font-size: 0.52em; }
    .btn-back {
        padding: 2% 0;
        @include media-breakpoint-down(lg) { padding: 2% 0 5%; }
        .btn-marvel {
            font-size: 1.5em;
            @include media-breakpoint-down(sm) { font-size: 2.5em; }
        }
    }
    .character-view {
        display: flex;
        gap: 5%;
        @include media-breakpoint-down(sm) { flex-direction: column; }
        .character-image {
            width: 45%;
            @include media-breakpoint-down(sm) { width: 100%; }
            img {
                width: 100%;
                border-radius: 0.625rem;
            }
        }
        .character-details {
            width: 65%;
            @include media-breakpoint-down(sm) { width: 100%; }
            .name {
                font-family: 'Anton-Regular';
                font-size: 5em;
            }
            .description {
                font-size: 2em;
                margin: 5% 0;
            }
            .links {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                @media only screen and (min-width: 992px) and (max-width: 1440px) { width: 65%; }
                @include media-breakpoint-down(lg) { width: 100%; }
                .btn-marvel {
                    width: 8.75rem;
                    font-size: 1.5em;
                    text-align: center;
                    @include media-breakpoint-down(sm) { font-size: 2.5em; }
                }
            }
        }
        
    }
    .complement {
        margin-top: 5%;
        .title {
            font-family: 'Anton-Regular';
            font-size: 5em;
            color: $color-4;
            border-bottom: 0.0625rem solid $color-4;
            margin-bottom: 2%;
            @include media-breakpoint-down(lg) { margin-bottom: 5%; }
        }
    }
}
