@import 'helpers';
@import 'variables';
@import 'components';

.content-model {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    .list-content {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $color-5;
        border-radius: 0.3125rem;
        img {
            height: 10rem;
            width: 10rem;
            border-radius: 0.3125rem;
            @include media-breakpoint-down(sm) {
                height: 6rem;
                width: 6rem;
            }
        }
        .name {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3%;
            font-family: 'Anton-Regular';
            font-size: 1.5em;
            .btn-marvel {
                @include media-breakpoint-down(lg) { padding: 3% 6%; }
                @include media-breakpoint-down(sm) { padding: 3% 10%; }
            }
        }
    }
}