<div class="content-model">
    <div class="card-content" *ngFor="let c of infoContent" (mouseenter)="hoverEnabled(c.id)">
        <img src="{{c.thumbnail.path}}.{{c.thumbnail.extension}}" alt="{{c.name}}">
        <div *ngIf="hasHover">
            <div class="hover-card" *ngIf="hoverCard && c.id === this.hoverId" (mouseleave)="hoverDisabled(c.id)">
                <button class="btn-marvel" (click)="showCharacter(c.id)">More details</button>
            </div>
        </div>
        <div class="name">
            <div *ngIf="c.name !== ''">{{c.name}}</div>
            <div *ngIf="c.title !== ''">{{c.title}}</div>
            <div *ngIf="c.type !== ''">{{c.type}}</div>
        </div>
    </div>
</div>
