@import 'helpers';
@import 'variables';
@import 'components';

.content-model {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 3%;
    // grid-auto-rows: auto;
    grid-gap: 50px;
    // grid-row-end: 3;
    .card-content {
        width: 100%;
        border: 1px solid transparent;
        // margin: 2% 0;
        img {
            height: 25rem;
            width: 100%;
        }
        .name {
            font-family: 'Anton-Regular';
            font-size: 1.5em;
            padding: 5%;
            text-align: center;
            background-color: #414141;
        }
        &:hover {
            border: 1px solid red;
        }
    }
}
